{% extends "base.html" %}
{% load static %}

{% block title %}記事一覧 | {{ block.super }}{% endblock %}
{% block description %}「チェキット！」は新潟のインターン情報を中心に掲載しています！{% endblock %}


{% block content %}
<!-- hero -->
<div class="hero_wrapper">
    <div class="hero_title_img">
        <a href="{% url 'mediasite:index' %}">
            <img class="checkit" src="{% static 'img/title.png' %}" alt="">
        </a>
    </div>
    
    <!-- introduce -->
    <div class="intro_wrapper">
        <p> 大学生になって将来のことを考える時間が増えた<br>
            新潟で日々を送る、毎日をもっと充実させたい<br>
            もっとたくさんのことに挑戦したい<br>
            そんな思いを応援しようと、始めたメディアサイトです<br>
            これを見てくださった人にとって, 何かを始めるきっかけになれば幸いです<br>
        </p>
        <p style="padding: 1rem;">
            - - - - - <a style="border-bottom: dashed 2px gray;" href="#footer_wrapper"> ちきうと / chikiuto</a> - - - - -
        </p>
    </div>

    <div style="text-align: center;" class="hero_top_img">
        <img style="max-width: 53rem; height: auto;" class="hero" src="{% static 'mediasite/img/hero.jpg' %}" alt="">
    </div>
</div>


<!-- search form -->
<div class="search_form_index">
    {% include "mediasite/snippets/search_form.html" %}
</div>

<!-- post -->
<h1 id="post" class="post_title">記事一覧</h1>

{% include "mediasite/snippets/main_post_list.html" %}
{% include "mediasite/snippets/pagination.html" %}

{% endblock %}
