{% load static %}
<header id="header">
    <div class="header_container">
        <!-- title_img -->
        <a class="img_header" href="{% url 'mediasite:index' %}">
            <img src="" alt="title" class="header_title">
        </a>
        <!-- menu -->
        <!-- <nav class="nav_header">
            <button class="btn-menu"></button>
            <ul class="list_nav_header">
            </ul>
        </nav> -->
        <!-- form -->
        <div class="form_header">{% include "mediasite/snippets/search_form.html" %}</div>
    </div>
</header>