
{% load static %}

<div class="post_container">
    <div class="post_wrapper">
        <div class="tips">
        {% for post in object_list %}
            {% if user.is_authenticated or post.is_public %}
                    <div class="post fade-in fade-in-up">
                        <div style="display: flex;">
                        {% if post.image %}
                        <a style="width: 60%;" href="{% url 'mediasite:post_detail' post.id %}">
                            <img class="post_img" src="{{ post.image.url }}" alt="{{ post.title }}">
                        </a>
                        {% endif %}

                        {% if not post.is_public %}
                        <h5><span class="">下書き</span></h5>
                        {% endif %}

                        <div style="width: 40%; display: contents;">
                            <a  style="width: 40%; margin: auto 0;" href="{% url 'mediasite:post_detail' post.id %}">
                                {{ post.title }}
                            </a>
                        </div>
                    </div>
                        <p style="text-align: right; margin: 0 1rem 0.5rem 0;" class="">{{ post.published_at|date }}</p>
                        <a href="{% url 'mediasite:post_detail' post.id %}" class="read">
                            記事を読む
                        </a>       
                    </div>
            {% endif %}

            {% empty %}
            <p>まだ投稿はありません。</p>
        {% endfor %}
        </div>
    </div>
</div>