.post_container {
    margin: 2rem 0;
}
.post_title {
    text-align: center;
    padding-right: 1rem;
    border-bottom-style: dashed;
    border-bottom-color: var(--new_grass);
    font-family: 'STIX Two Text', serif;
    font-size: 2.7rem;
    margin-top: 3rem;
}


.tips {
    width: 100%;
    padding: 0 1rem;
    background: url("/static/img/wallpaper.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    align-items: center;
}
.post {
    width: 100%;
    max-width: 45rem;
    margin: 2rem auto;
    box-shadow: 0 8px 32px 0 var(--new_grass);
    backdrop-filter: blur( 5.0px );
    -webkit-backdrop-filter: blur( 5.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: max-content;
}
.post_img {
    padding: 0.7rem;
}
.read {
    border-radius: 4px;
    background-color: var(--mist);
    border: none;
    color: #fff;
    text-align: center;
    font-size: 16px;
    padding: 8px;
    width: 128px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 36px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}
.read {
    cursor: pointer;
    display: block;
    margin: 0 8px 8px auto;
    position: relative;
    transition: 0.5s;
    position: relative;
}
.read:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 7px;
    right: -20px;
    transition: 0.5s;
}
.read:hover{
    padding-right: 24px;
    padding-left:8px;
} 
.read:hover:after {
    opacity: 1;
    right: 10px;
}

/* .fade-in {
    opacity: 0;
    transition-duration: 500ms;
    transition-property: opacity, transform;
    visibility: hidden;
}
.fade-in-up { transform: translate(0, 50px); }
.fade-in-down { transform: translate(0, -50px); }
.fade-in-left { transform: translate(-50px, 0); }
.fade-in-right { transform: translate(50px, 0); }
.scroll-in {
    opacity: 1;
    transform: translate(0, 0);
    visibility: visible;
} */