.detail_container {
    margin-top: 6rem;
    padding: 1rem;
}
h1 {
    font-size: 2rem;
    margin-bottom: 0.8rem;
    font-weight: 600;
}
.detail_title {
    margin-top: 0.7rem;
    font-size: 1.3rem;
    font-weight: 600;
}
.detail_content p {
    line-height: 1.7rem;
}
.content_wrapper {
    margin-top: 1rem;
    padding: 0.8rem;
    font-family: "游ゴシック", "Yu Gothic";
}

@media (max-width: 500px) {
    h1 {
        font-size: 1.4rem;
    }
}